@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-white bg-backgroundLight; /* Fallback solid color */
	font-family: Arial, Helvetica, sans-serif;
}

.main-bg {
	@apply bg-gradient-to-b from-backgroundDark to-backgroundLight;
	height: 100vh;
}
@layer utilities {
	@keyframes outline-draw {
		0% {
			outline-color: rgba(235, 86, 124, 0); /* transparent */
		}
		5% {
			outline-color: rgba(235, 86, 124, 1); /* visible */
		}
		50% {
			outline-color: rgba(235, 86, 124, 1);
		}
		100% {
			outline-color: rgba(235, 86, 124, 0);
		}
	}

	.animate-outline-draw {
		animation: outline-draw 1.5s ease-in-out forwards;
	}

    @keyframes fade-overlay {
        0% {
            opacity: 0;
        }
        5% {
            opacity: 1;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .animate-fade-overlay {
        animation: fade-overlay 1.5s ease-in-out forwards;
    }
}



